{% extends 'base.html' %}


{% block content %}

<div class="container mt-3" style="height: 80vh;">
      <div class="row mx-auto d-block">
            <form action="/resultados/" method="POST">
                  <input id="secuenciausuario" placeholder="Pega aquí tu secuencia a analizar" class="text-dark col-12" style="height: 10vh;" type="text" name="secuenciausuario">
                  <input class="btn-primary col-12" type="submit" value="Analizar" style="height: 10vh;">
            </form>
      </div>

</div>


{% endblock %}


