{% extends 'base.html' %}

{% block content %}

<div class="container mt-3 col-12" style="height: 90vh;">
    <div class="col-10 mx-auto d-block">
        <h5>He subido a GitHub todo el código que hace posible el funcionamiento de esta web:</h5>
        <p>- Scripts de Python</p>
        <p>- Código HTML, CSS, y JavaScript</p>
        <p>- Framework Flask</p>
        <p>- Sistema de plantillas Jinja2</p>
        <p>- Chartjs </p>
        <p>- El resto de carpetas y ficheros </p>
        <p class="text-warning">Encontrarás comentarios dentro del código explicando que hace cada parte, redactados en castellano</p>
        <br><br>

        <form action="https://github.com/PauDeLaCruz/ADN-Analisis">
            <input class="btn-warning col-12" type="submit" value="Ir a Github" style="height: 10vh;font-size: 30px;"/>
        </form>

    </div>


</div>


{% endblock %}